<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  Nav bar-->
    <div class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand ml-4" href="/home">APS Taxis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Choferes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/choferes">Ver Choferes</a></li>
                        <li><a class="dropdown-item" href="/nuevo">Agregar Choferes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Coches
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" href="/coches">Ver Coches</a></li>
                        <li><a class="dropdown-item" href="coches/nuevoCoche">Agregar Coches</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Turnos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/turnos">Ver Turnos</a></li>
                        <li><a class="dropdown-item" href="turnos/nuevoTurno">Agregar Turnos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Viajes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <li><a class="dropdown-item" href="/viajes">Ver Viajes </a></li>
                        <li><a class="dropdown-item" href="viajes/nuevoViaje">Agregar Viajes</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto profile-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-sliders-h fa-fw"></i> Account</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-cog fa-fw"></i> Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>



        </div>
    </div>
</head>


<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Cédula</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="chofer : ${choferes}">
        <td th:text="${chofer.id}"></td>
        <td th:text="${chofer.nombre}"></td>
        <td th:text="${chofer.apellido}"></td>
        <td th:text="${chofer.telefono}"></td>
        <td th:text="${chofer.cedula}"></td>

        <td><a th:href="@{/{id}/editar/(id=${chofer.id})}" class="btn btn-warning"><i class="fas fa-edit"></i>&nbsp;Editar</a>
            <a href="#" onclick="eliminarChofer(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</a>

            <form th:action="@{/{id}/eliminar/(id=${chofer.id})}"
                  method="post"></form></td>
    </tr>
    </tbody>
</table>
</body>
</html>